# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyc

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Pytest
# =========================
.pytest_cache/

# =========================
# Virtual environments
# =========================
venv/
.venv/
env/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Environment / secrets
# =========================
.env
.env.*

# =========================
# Datasets and downloads
# =========================
NF-UNSW-NB15-v3.csv
*.zip

# Downloaded dataset folder
f7546561558c07c5_NFV3DATA-A11964_A11964/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db


# Large datasets
*.csv
*.zip
f7546561558c07c5_NFV3DATA-A11964_A11964/